body { 
	margin: 0px;
	padding: 0px;
}

.container {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border-radius: 25px;
    background-color: #fdf2ea;
}

h1, 
h2, 
h3 {
    color: #7f4b26;
}

.header-section, 
.main, 
.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-section {
    height: 20%;
    padding-right: 10%;
    font-size: 2em;
    color: #ad8264;
}

.my-photo {
    height: 320px;
    padding: 5px;
    border-radius: 50%;
}

.aside-section {
    width: 35%;
    padding: 2px 40px;
    border-radius: 5%;
    background-color: #fbe9d4;
}

.footer-section {
    align-items: center;
    font-size: 1.3em;
}
